@{
    ViewData["Title"] = "Student Home Page";
}
<div id="student_home_main" class="s-homescreen">
    <h1 class="s-style">CSUSB DATASCIENCE GROUP</h1>
    <div class="s-style-ex">
        <table>
            <tr>
                <td>
                    <img src="~/images/stone.png" alt="Profile Picture" class="boxall" />

                    <div style="text-align: center">
                        <a href="https://facebook.com"><i class="fa fa-facebook"></i></a>
                        <a href="https://twitter.com" class="s-style"><i class="fa fa-twitter"></i></a>
                        <a href="https://linkedin.com" class="s-style"> <i class="fa fa-linkedin"></i></a>
                    </div>
                </td>
                <td>
                    <div class="s-style">
                        <p>@ViewBag.Name</p>
                        <p>@ViewBag.Occupation</p>
                        <p>@ViewBag.University</p>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="s-homescreen-info">
    <h4>Intership History</h4>
    <div>
        <small>May 2015 - August 2015</small> <br />
        <i class="fa fa-address-card" style="color: firebrick"></i>
        <span style="font-weight: bold; margin-left: 0.3em">
            Summer Intern - Google User Experience
        </span><br />
        <i class="fa fa-building" style="color: green"></i>
        <small style="margin-left: 0.3em">San Francisco, California</small>
        <p>
            <i class="fa fa-folder-open" style="color: navajowhite"></i>

            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam esse,
            similique hic quas mollitia fugit fugiat laudantium non temporibus placeat.
        </p>
    </div>
    <div>
        <small>May 2014 - August 2014</small> <br />
        <i class="fa fa-address-card" style="color: firebrick"></i>
        <span style="font-weight: bold; margin-left: 0.3em">
            Summer Intern - Sunny Markets
        </span><br />
        <i class="fa fa-building" style="color: green"></i>
        <small style="margin-left: 0.3em">London, United Kingdom</small>
        <p>
            <i class="fa fa-folder-open" style="color: navajowhite"></i>

            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam esse,
            similique hic quas mollitia fugit fugiat laudantium non temporibus placeat.
        </p>
    </div>
    <div>
        <small>May 2013 - August 2013</small> <br />
        <i class="fa fa-address-card" style="color: firebrick"></i>
        <span style="font-weight: bold; margin-left: 0.3em">
            Summer Intern - AT&T
        </span><br />
        <i class="fa fa-building" style="color: green"></i>
        <small style="margin-left: 0.3em">Charlotte, North Carolina</small>
        <p>
            <i class="fa fa-folder-open" style="color: navajowhite"></i>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam esse,
            similique hic quas mollitia fugit fugiat laudantium non temporibus placeat.
        </p>
    </div>
</div>

<div class="s-homescreen-info">
    <h4>Education History</h4>
    <div>
        
        <div class="row container">
            <div class="col-12 col-md-4 col-lg-4 col-xl-4 text-center">
                <i class="text-center fa fa-cut"></i>
                <h3>Trade School</h3>
                <p>Santa Ana Tailoring School, Santa Ana, California</p>
            </div>
            <div class="col-12 col-md-4 col-lg-4 col-xl-4 text-center">
                <i class="text-center fa fa-pagelines"></i>
                <h3>High School</h3>
                <p>St. Jospeh's High School, Calabases, California'</p>
            </div>
            <div class="col-12 col-md-4 col-lg-4 col-xl-4 text-center">
                <i class="text-center fa fa-coffee"></i>
                <h3>Associate's</h3>
                <p>Santa Monica College, Santa Monica, California</p>
            </div>
        </div>
    </div>
</div>

<div class="s-homescreen-info">
    <h4>Activities</h4>
    <div>
        <table style="width: 80%; margin-left: 3em">
            <tr>
                <td>
                    <img style="width: 100%" src="~/images/orangeflower.jpeg" />
                </td>
                <td>
                    <img style="width: 100%" src="~/images/orangeflower.jpeg" />
                </td>
                <td>
                    <img style="width: 100%" src="~/images/tea.jpg" />
                </td>
                <td>
                    <img style="width: 100%" src="~/images/orangeflower.jpeg" />
                </td>
                <td>
                    <img style="width: 100%" src="~/images/orangeflower.jpeg" />
                </td>
            </tr>
        </table>
    </div>
</div>

